/* Adicionar aqui toda a estilização criada para sua aplicação. */

/* Configuração universal para todo o projeto, aplicado em tudo */
* {
    box-sizing: border-box;
}

/* Configuração da tag body do HTML */
body {
    margin: 0;
    font-family: sans-serif;
}

/* Configuração da classe 'header' */
.header {
    background-color: black;
    border-bottom: 3px solid #32b9cd;
}

/* Estilização exclusiva da classe 'container' que está dentro da classe 'header' */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* O primeiro valor é referente a vertical e o segundo é na horizontal */
    padding: 0 120px;
}

.titulo {
    color: #32b9cd;
}

.navbar {
    display: flex;
    /* Tira a estilização padrão da lista (bolinha antes da palavra)*/
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;

}

/* Configuração da tag 'a' dentro da navbar */
.navbar a {
    color: #e3b062;
    outline: none;
    text-decoration: none;
}

.agora {
    font-weight: bolder;
}

.banner {
    height: 400px;
    width: 100%;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p {
    width: 170px;
    color: white;
    margin: 0;
    font-size: 24px;
}

.banner .container span {
    font-weight: bolder;
}

.social {
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 120px;
    height: 120px;
}

.box h4 {
    margin: 0;
    margin-top: 10px;
    color: #ed145b;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: #32b9cd;
}

.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.footer h4 {
    margin-bottom: 0;
}

/* Aqui termina o index.html */

.login {
    background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    height: 600px;
}

.login .container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-login {
    display: flex;
    height: 50%;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dcdcdc;
    border-radius: 15px;
}

.card h2 {
    color: #ed145b;
    margin-bottom: 0;
}

.card-login .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.card .campo {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.card .campo input {
    border: 2px solid #32b9cd;
    height: 40px;
    border-radius: 10px;
}

.card .campo input::placeholder {
    text-align: center;
}

.card .campo span {
    color: #ed145b;
}

.formulario button {
    background-color: #ed145b;
    color: #dcdcdc;
    width: 15%;
    height: 25px;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
}

.card-cadastro {
    display: flex;
    height: 80%;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dcdcdc;
    border-radius: 15px;
}

.card-cadastro .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}